<div [formGroup]="formCtlGroup">
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFill>
      <mat-form-field class="example-chip-list" appearance="fill" fxFill>
        <mat-label>Control Options</mat-label>
        <mat-chip-list
          class="example-chip"
          #chipList
          aria-label="Control Option selection"
          cdkDropListOrientation="horizontal"
        >
          <mat-chip
            *ngFor="let ctlOptions of ctlOptions; let indexOfElement = index"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(ctlOptions, indexOfElement)"
          >
            {{ ctlOptions.text }}
            <button matChipRemove *ngIf="removable">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="New option..."
            #ctlOptionInput
            formControlName="eventOption"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selected($event)"
        >
          <mat-option
            *ngFor="let ctlOption of filteredCtlOptions | async"
            [value]="ctlOption"
          >
            {{ ctlOption.text }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  <div
    id="option_layout"
    class="option-list"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >
    <div
      formArrayName="uiControlFormOptions"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      *ngFor="let ctlOption of ctlOptions; index as i"
      cdkDrag
      class="margin-bottom"
    >
      <div id="optionsRow" fxFill [formGroupName]="i">
        <div
          fxLayout="row wrap"
          fxLayoutAlign="start start"
          fxLayoutGap="10px"
          class="mat-elevation-z2"
          *ngIf="ctlOption.value === 'WAIT'"
        >
          <mat-card class="full-width">
            <mat-card-content>
              <div fxFlex="20%">{{ ctlOption.text }}</div>
              <div fxFlex="70%">
                <mat-form-field
                  class="example-form-field"
                  appearance="fill"
                  fxFill
                >
                  <mat-label>Wait in seconds</mat-label>
                  <input
                    matInput
                    type="text"
                    autocomplete="off"
                    formControlName="waitingSeconds"
                  />
                  <button matSuffix mat-icon-button aria-label="Clear">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div fxFlex="10%" align="center">
                <button
                  mat-mini-fab
                  color="primary"
                  aria-label="delete for ui control options"
                  (click)="deleteControlOption(ctlOption, i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div
          *ngIf="ctlOption.value === 'CONTROL'"
          fxLayout="row wrap"
          fxLayoutAlign="start start"
          fxLayoutGap="10px"
          class="mat-elevation-z2"
        >
          <mat-card class="full-width">
            <mat-card-content>
              <div fxFlex="20%">{{ ctlOption.text }} wait for</div>
              <div fxFlex="70%">
                <mat-form-field class="w-6/12">
                  <mat-label>Condition Type</mat-label>
                  <mat-select formControlName="conditionType">
                    <mat-option>None</mat-option>
                    <mat-option
                      *ngFor="let conditionType of conditionTypes"
                      [value]="conditionType.value"
                    >{{ conditionType.text }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="ml-10 w-36">
                  <mat-label>duration</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="duration"
                    autocomplete="off"
                    placeholder="enter in seconds"
                  />
                  <button
                    *ngIf="formCtlGroup.controls['duration']?.value"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="formCtlGroup.controls['duration']?.reset()"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-hint>default 4 seconds.</mat-hint>
                </mat-form-field>
              </div>
              <div fxFlex="10%" align="center">
                <button
                  mat-mini-fab
                  color="primary"
                  aria-label="delete for ui control options"
                  (click)="deleteControlOption(ctlOption, i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div
          *ngIf="ctlOption.value === 'TEXT'"
          fxLayout="row wrap"
          fxLayoutAlign="start start"
          fxLayoutGap="10px"
          class="mat-elevation-z2"
        >
          <mat-card class="full-width">
            <mat-card-content>
              <div fxFlex="10%">{{ ctlOption.text }}</div>
              <div fxFlex="80%">
                <div fxLayout="row wrap"
                     fxLayoutAlign="start start"
                     fxLayoutGap="10px">
                  <div fxFlex="40%">
                    <mat-form-field fxFill>
                      <mat-label>Type</mat-label>
                      <mat-select formControlName="assertType">
                        <mat-option>None</mat-option>
                        <mat-option
                          *ngFor="let assertType of assertTypes"
                          [value]="assertType.value"
                        >{{ assertType.text }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="40%">
                    <mat-form-field fxFill>
                      <mat-label>value</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="value"
                        autocomplete="off"
                      />
                      <button
                        *ngIf="formCtlGroup.controls['value']?.value"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="formCtlGroup.controls['value']?.reset()"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div fxFlex="10%">
                    <mat-form-field fxFill>
                      <mat-label>duration</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="duration"
                        autocomplete="off"
                        placeholder="enter in seconds"
                      />
                      <button
                        *ngIf="formCtlGroup.controls['duration']?.value"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="formCtlGroup.controls['duration']?.reset()"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                      <mat-hint>default 4 seconds.</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxFlex="10%" align="center">
                <button
                  mat-mini-fab
                  color="primary"
                  aria-label="delete for ui control options"
                  (click)="deleteControlOption(ctlOption, i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div
          *ngIf="
            ctlOption.value !== 'WAIT' &&
            ctlOption.value !== 'CONTROL' &&
            ctlOption.value !== 'TEXT'
          "
          fxLayout="row wrap"
          fxLayoutAlign="start start"
          fxLayoutGap="10px"
          class="mat-elevation-z2"
        >
          <mat-card class="full-width">
            <mat-card-content>
              <div fxFlex="20%">{{ ctlOption.text }}</div>
              <div fxFlex="70%"></div>
              <div fxFlex="10%" align="center">
                <button
                  mat-mini-fab
                  color="primary"
                  aria-label="delete for ui control options"
                  (click)="deleteControlOption(ctlOption, i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
