<div [formGroup]="formCtlGroup">
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFill>
      <mat-form-field class="example-chip-list" appearance="fill" fxFill>
        <mat-label>Keys</mat-label>
        <mat-chip-list #chipList class="example-chip" aria-label="key selection" cdkDropListOrientation="horizontal">
          <mat-chip
            *ngFor="let keyOption of keyOptions; let indexOfElement = index"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(keyOption, indexOfElement)">
            {{keyOption.text}}
            <button matChipRemove *ngIf="removable">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="New key..."
            #keyOptionInput
            formControlName="keyOption"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let key of filteredKeyOptions | async" [value]="Keys">
            {{key.text}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</div>
