<div class="container-layout">
  <mat-chip-list></mat-chip-list>
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFlex="20%">
      <mat-card>
        <mat-card-content>
          <mat-toolbar fxFill> Test Plan</mat-toolbar>
          <mat-list>
            <mat-list-item>
              {{
              scheduleIterationResultModel?.testPlanResultSummary
                ?.testPlanName
              }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="25%">
      <mat-card>
        <mat-card-content>
          <mat-toolbar fxFill> Test Case</mat-toolbar>
          <mat-selection-list [multiple]="false">
            <mat-list-option
              *ngFor="
                let testCaseResult of scheduleIterationResultModel
                  ?.testPlanResultSummary?.testCaseResults
              "
              (click)="showAction(testCaseResult)"
            >
              <div>
                <div fxFlex="90%">
                  {{ testCaseResult.testCaseName }}
                </div>
                <div fxFlex="10%">
                  <mat-icon [class]="getStatusClassName(testCaseResult.status)">check_circle</mat-icon>
                </div>
                <mat-divider></mat-divider>
              </div>
            </mat-list-option>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="55%">
      <mat-card>
        <mat-card-content>
          <mat-toolbar fxFill> Actions</mat-toolbar>
          <div
            fxLayout="row"
            fxLayoutAlign="start start"
            fxLayoutGap="10px"
            *ngFor="let actionResultModel of actionResultModels"
            fxFill
          >
            <mat-accordion fxFill class="mb-4">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <div fxFlex="50%">Key: {{ actionResultModel.key }}</div>
                  <div fxFlex="40%">Value: {{ actionResultModel.value }}</div>
                  <div fxFlex="10%">
                    <mat-icon [class]="getStatusClassName(actionResultModel.status)">check_circle</mat-icon>
                  </div>
                </mat-expansion-panel-header>
                <div *ngIf="actionResultModel.errorMessage">
                  <div class="mat-subheading-2 center">
                    <mat-label>Error Message</mat-label>
                  </div>
                  <div>
                    <pre>
                      <code class="java">
                            {{actionResultModel.errorMessage}}
                      </code>
                    </pre>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
