<div class="container-layout">
  <mat-chip-list></mat-chip-list>
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFlex="20%">
      <mat-card>
        <mat-card-content>
          <mat-toolbar fxFill> Test Plan </mat-toolbar>
          <mat-list>
            <mat-list-item>
              {{
                scheduleIterationResultModel?.testPlanResultSummary
                  ?.testPlanName
              }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="25%">
      <mat-card>
        <mat-card-content>
          <mat-toolbar fxFill> Test Case </mat-toolbar>
          <mat-selection-list [multiple]="false">
            <mat-list-option
              *ngFor="
                let testCaseResult of scheduleIterationResultModel
                  ?.testPlanResultSummary?.testCaseResults
              "
              (click)="showAction(testCaseResult)"
            >
              {{ testCaseResult.testCaseName }}
            </mat-list-option>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="55%">
      <mat-card>
        <mat-card-content>
          <mat-toolbar fxFill> Actions</mat-toolbar>
          <div
            fxLayout="row"
            fxLayoutAlign="start start"
            fxLayoutGap="10px"
            *ngFor="let actionResultModel of actionResultModels"
            fxFill
          >
            <mat-card class="margin-bottom" fxFill>
              <div fxFlex="40%">Key: {{ actionResultModel.key }}</div>
              <div fxFlex="40%">Value: {{ actionResultModel.value }}</div>
              <div fxFlex="20%">
                <mat-chip>{{ actionResultModel.status }}</mat-chip>
              </div>
            </mat-card>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
