<div class="configuration-container mat-elevation-z8">
  <mat-card>
    <div>
      <mat-toolbar>
        <span>HTML Editor</span>
        <span class="global-spacer"></span>
        <button
          mat-mini-fab
          color="primary"
          class="margin-right"
          aria-label="Example icon button with a delete icon"
        >
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-raised-button color="primary">
          Actions
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <div>
      <div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
          <div fxFlex="49%" class="h-screen">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
              <div fxFlex="25%" fxFlexFill>
                <mat-form-field appearance="fill">
                  <mat-label>Themes</mat-label>
                  <mat-select [formControl]="htmlEditorControl">
                    <mat-option>-- None --</mat-option>
                    <mat-optgroup
                      *ngFor="let selectGroupModel of selectGroupModels"
                      [label]="selectGroupModel.name"
                    >
                      <mat-option
                        *ngFor="
                          let selectModel of selectGroupModel.selectModels
                        "
                        [value]="selectModel.value"
                        (click)="themeChange(selectModel)"
                      >
                        {{ selectModel.text }}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlexFill>
                <button
                  mat-raised-button
                  (click)="updatePreview()"
                  matTooltip="preview"
                >
                  <mat-icon>preview</mat-icon>
                </button>
                <button mat-raised-button (click)="undo()" matTooltip="undo">
                  <mat-icon>undo</mat-icon>
                </button>
                <button mat-raised-button (click)="redo()" matTooltip="redo">
                  <mat-icon>redo</mat-icon>
                </button>
                <button
                  mat-raised-button
                  (click)="clear()"
                  matTooltip="clearAll"
                >
                  <mat-icon>clear_all</mat-icon>
                </button>
              </div>
            </div>
            <mat-toolbar>
              <mat-toolbar-row> </mat-toolbar-row>
              <mat-toolbar-row>
                <mat-button-toggle-group
                  name="ingredients"
                  aria-label="Ingredients"
                  multiple
                >
                  <mat-button-toggle value="format" (click)="formatContent()"
                    >format</mat-button-toggle
                  >
                  <mat-button-toggle value="flour">Flour</mat-button-toggle>
                  <mat-button-toggle value="eggs">Eggs</mat-button-toggle>
                  <mat-button-toggle value="sugar">Sugar</mat-button-toggle>
                </mat-button-toggle-group>
              </mat-toolbar-row>
            </mat-toolbar>
            <div class="app-ace-editor h-5/6" #editor></div>
          </div>
          <div fxFlex="2%" fxFlexOffset="offsetpx"></div>
          <div fxFlex="49%" class="h-screen">
            <div class="app-ace-editor h-5/6">
              <div [innerHTML]="previewHtml!"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
