<div>
  <div class="action-container mat-elevation-z8">
    <mat-card>
      <mat-card-title> Action Creation </mat-card-title>
      <mat-card-content>
        <form [formGroup]="actionform">
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <div fxFlex="25%">
              <div
                fxLayout="row"
                fxLayoutAlign="start start"
                fxLayoutGap="10px"
              >
                <mat-form-field appearance="fill" fxFill>
                  <mat-label>Select an action type</mat-label>
                  <mat-select formControlName="actionType">
                    <mat-option
                      [value]="actiontype.value"
                      *ngFor="let actiontype of actionTypes"
                      >{{ actiontype.text }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="20%">
              <mat-slide-toggle
                (click)="assertClicked()"
                formControlName="isAssertVerification"
                class="ml-12"
                >Is Assert Verification</mat-slide-toggle
              >
            </div>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="start start"
            *ngIf="actionform.controls['actionType'].value === 'UI_ACTION'"
          >
            <app-uicontrol
              [isAssertVerification]="
                actionform.controls['isAssertVerification'].value
              "
              [actionType]="actionform.controls['actionType'].value"
              [saveEvent]="childUiControl"
              fxFill
            ></app-uicontrol>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="start start"
            *ngIf="actionform.controls['actionType'].value === 'api'"
          >
            <app-api
              [isAssertVerification]="
                actionform.controls['isAssertVerification'].value
              "
              [actionType]="actionform.controls['actionType'].value"
              fxFill
            ></app-api>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="start start"
            *ngIf="actionform.controls['actionType'].value === 'database'"
          >
            <app-database
              [isAssertVerification]="
                actionform.controls['isAssertVerification'].value
              "
              [actionType]="actionform.controls['actionType'].value"
              fxFill
            ></app-database>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button mat-dialog-close (click)="navigateToTestCase()">
          Cancel
        </button>
        <button
          mat-raised-button
          cdkFocusInitial
          color="primary"
          (click)="createAction()"
        >
          Save
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
