/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  contain: strict;
}

.full-width {
  width: 100%;
}
.truncate-cell {
  max-width: 60px; /* feel free to include any other value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.configuration-container {
  margin-right: 20px;
  margin-left: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.row-ready-only {
  height: 40px;
}
